.product{

    width: 20%;
    margin: 10px;
    position: relative;
    text-align: center;
    

    

    &__img{
        border-radius: 50px;


        &__addBtn{
            position: absolute;
            right: 7px;
            bottom: 5px;
        }

    }

    &__title{
        font-weight: 200;
        font-size: 17px;
    
    }

    &__price{
        font-size: 15px;
        font-weight: 200;

    }
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
s
    label{
        display: flex;
        flex-direction: column;
    }


}

